<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AMSR demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial;
        }
        #viewer2d {
            position: relative;
            height: 396px;
            width: 396px;
            border: solid black 1px;
            padding: 1px;
        }
        #viewer3d {
            position: relative;
            height: 402px;
            width: 402px;
        }
        #amsr, #smiles {
            font-family: Courier;
            font-size: 16px;
        }
        #ener {
            resize: none
        }
    </style>
</head>
<body>
    <table>
    <tr><td>AMSR:
    </td>
    <td><input
            placeholder="enter AMSR"
            id="amsr"
            type="text"
            name="text"
            size="76"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="on"
            onkeyup="mol_changed(false, true, true)" // amsr to smiles
        ></input></td>
    </tr>
    <tr><td>SMILES:</td>
    <td><input
            placeholder="enter SMILES"
            id="smiles"
            type="text"
            name="text"
            size="76"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="on"
            onkeyup="mol_changed(true, true, true)" // smiles to amsr
        ></input>
    </td></tr>
    </table>

    <table>
    <tr>
    <td>
    <button
        id="randomMol"
        name="randomMol"
        onclick="random_mol()"
        >random mol
    </button>
    <button
            id="invertView"
            name="invertView"
            onclick="invertView()"
            <i class="fas fa-camera-rotate"></i>
    </button>
    <button
            id="counterClockwise"
            name="counterClockwise"
            onclick="rotateCounterClockwise()"
            <i class="fas fa-rotate-left"></i>
    </button>
    <button
            id="clockwise"
            name="clockwise"
            onclick="rotateClockwise()"
            <i class="fas fa-rotate-right"></i>

    </button>
    <input
            type="checkbox"
            id="stringent"
            name="stringent"
            checked
            onclick="mol_changed(false, true, true)"
            >stringent
    <input
            type="checkbox"
            id="threeD"
            name="threeD"
            checked
            onclick="mol_changed(true, false, true)"
            >3D
    </td>
    <td>
    <button
        id="newConformer"
        name="newConformer"
        onclick="mol_changed(true, false, true)"
        >new conformer</button>
    <button
        id="saveAsSDF"
        name="saveAsSDF"
        onclick="save_as_SDF()"
        >save as SDF</button>
    </td></tr>

    <!--
    </table>
    <table>
    -->

        <tr>
            <td id="viewer2d"></td>
            <td id="viewer3d"></td>
        </tr>
        <tr>
            <td id="qed"></td>
            <td id="ener"></td>
        </tr>
        <tr>
            <td id="tpsa"></td>
        </tr>
        <tr>
            <td id="SA"></td>
        </tr>
    </table>

    <script>

    function element(id) {
        return document.getElementById(id);
    }

    let sdf = ""
    let viewer3d = $3Dmol.createViewer("viewer3d", {border: 'solid', backgroundColor: 'gainsboro'});
    let viewer2d = element("viewer2d");
    let pending = null;
    let rotationValue = 0;
    let flipMol = false;
    const rotationIncrement = 30; // degrees

    function refresh_viewer3d(ener) {
        viewer3d.removeAllModels();
        viewer3d.addModel(sdf, "sdf")
        viewer3d.setStyle({}, {stick: {}});
        viewer3d.zoomTo();
        viewer3d.zoom(0.9);
        viewer3d.render();
        element('ener').innerHTML = ener
    }

    function refresh_viewer2d(svg, qed, tpsa, sa) {
        viewer2d.innerHTML = svg;
        element('qed').innerHTML= qed;
        element('tpsa').innerHTML = tpsa;
        element('SA').innerHTML = sa;
    }

    function invertView() {
        flipMol = !flipMol;
        mol_changed(false, true, false);
    }

    function rotateClockwise() {
        rotationValue -= rotationIncrement
        mol_changed(false, true, false);
    }

    function rotateCounterClockwise() {
        rotationValue += rotationIncrement
        mol_changed(false, true, false);
    }

    function save_as_SDF() {
        var blob = new Blob([sdf], { type: 'text/plain' });
        var a = document.createElement('a');
        a.href = URL.createObjectURL(blob);
        a.download = 'Untitled.sdf';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(a.href);
    }

    function random_mol() {
        if (pending)
            pending.abort();
        pending = $.post('/random_mol',
            { },
            function(response) {
                var data = JSON.parse(response);
                element('amsr').value = data.amsr;
                mol_changed(false, true, true); // amsr to smiles
            }
        );
    }

    function mol_changed(smiles_to_amsr, update2D, update3D) {
        if (element('threeD').checked) {
           element('viewer3d').style.display = 'block';
           element('ener').style.display = 'block';
           element('newConformer').style.display = 'inline';
           element('saveAsSDF').style.display = 'inline';
        } else {
           element('viewer3d').style.display = 'none';
           element('ener').style.display = 'none';
           element('newConformer').style.display = 'none';
           element('saveAsSDF').style.display = 'none';
        }
        if (pending)
            pending.abort();
        threeD = element('threeD').checked && update3D;
        pending = $.post('/mol_changed',
            {'inString': (smiles_to_amsr ? element('smiles') : element('amsr')).value,
            'smiles_to_amsr': smiles_to_amsr,
            'flipMol': flipMol,
            'threeD': threeD,
            'stringent': element('stringent').checked,
            'rotationValue': rotationValue},
            function(response) {
                var data = JSON.parse(response);
                (smiles_to_amsr ? element('amsr') : element('smiles')).value = data.outString
                if (update2D) {
                    refresh_viewer2d(data.svg, data.qed, data.tpsa, data.sa);
                }
                if (threeD) {
                    sdf = data.sdf
                    refresh_viewer3d(data.ener);
                }
            }
        );
    }

    </script>
</body>
</html>
